
  body{ background-image: url(../imagenes/comidita.jpg);
  background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;}
.amarillo{color: white}
.amarillo{text-align: justify;}
.blanco{ color: white; text-align: justify;
}
.centro{text-align: center;text-decoration-line:underline;
text-decoration-color: red;
text-decoration-style: double;
color: white}

.subrayado{text-decoration-line:underline;}
.subrayado{text-decoration-color: red}
.subrayado{text-decoration-style: double;}
.subrayado{font-size:xx-large }
.links:hover{
  color:black;
background-color: white;
}
.bi{
  font-size: 24px;
Color:white;
margin: 20px;
align-self: center;
}
.bi:hover{color: black}
.parrafo{color: white;
font-size: small}
header{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}
footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
@media (max-widht: 576px) {
  body {background-color: red;
  }
}
@media (min-widht:768px) {
  nav{ background-color: white;
  font-size: xx-large}
}
@media (max-widht:1199px ) {
.parrafo{ color: cyan;}
}
@media (max-widht: 767px) {
  .centro {display: none;
  }
}
