
  body{ background-image: url(../imagenes/comidita.jpg);
  background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;}
.amarillo{text-align: center; color: white;
font-size: x-large}
.blanco{ color: white; text-align: center;
font-size: x-large}
.links:hover{
  color:black;
background-color: white;
}
.bi{
  font-size: 24px;
Color:white;
margin: 20px;
align-self: center;
}
.bi:hover{color: black}
.parrafo{color: white;
font-size: small}
header{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}
footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
@media (max-widht: 576px) {
  body {background-color: red;
  }
}
@media (min-widht:768px) {
  nav{ background-color: white;
  font-size: xx-large}
}
@media (max-widht:1199px ) {
.parrafo{ color: cyan;}
}
@media (max-widht: 767px) {
  .centro {display: none;
  }
}
nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  font-size: large
}
.buscador{ display: flex;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: xx-large;
  margin: 20px;
  padding: 20px;}
  .buscador:hover{
    color: green;
  }
aside{ display: flex;

  align-items: center;
}
.areas{ color: blue;
background-color: white;
text-decoration-line:underline;
text-decoration-color: blue;
text-decoration-style: double;
font-size: xx-large;
text-align: center;}
.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;color: white ;
}
.jaro-gross {
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: cyan;
}
.data{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
