
  body{ background-image: url(../imagenes/comidita.jpg);
  background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;}
.amarillo{color: black}
.amarillo{text-align: justify;}
.blanco{ color: white}
.blanco{text-align: justify;}
.centro{text-align: center;}
.centro{text-decoration-line:underline;}
.centro{text-decoration-color: red}
.centro{text-decoration-style: double;
color: white}
.subrayado{text-decoration-line:underline;}
.subrayado{text-decoration-color: red}
.subrayado{text-decoration-style: double;}
.subrayado{font-size:xx-large }
.links:hover{
  color:black;
background-color: white;
}
.bi{
  font-size: 24px;
Color:white;
margin: 20px;
align-self: center;
}
.bi:hover{color: black}
.parrafo{color: white;
font-size: small}
header{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}
footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
